<!DOCTYPE html>



<html>
 <head>
     <title>Bruno Leal - DEV</title>


  
     <link rel="stylesheet" href="style.css">

 </head>

    <body>
    <div class="menu-content">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="Grid">Grid</a></li>
        </ul>
    </div>

      {% block content%}
      {% endblock %}

    </body>
</html>
